.header {
  position: relative;
  height: 560px;
}

.sosyal-media {
  position: absolute;
  z-index: 9;
  right: var(--solSagOkUzaklik);
}

/* NAVBAR */

.nav {
  align-items: center;
  position: absolute;
  z-index: 9;
  margin-top:30px;
  /*left: 10%;*/
}

.navbar-brand img {
  width: 141px;
  height: 135px;
}

.nav-item a {
  font-size: 13px;
  font-weight: 800;
  color: white;
}

.nav-link {
  padding: 1rem 0.4rem;
}

.input-group {
  width: initial;
}

.header .baslik {
  position: relative;
  bottom: 140px;
  z-index: 1;
  color: white;
  text-align: center;
  pointer-events: none;
}


div.owl-zero.owl-loaded.owl-drag {
  height: 100%;
}
div.owl-zero.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-stage-outer > div  {
  height: 100%;
}

.item-zero {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

div.owl-zero.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-prev > img {
  position: absolute;
  left: var(--solSagOkUzaklik);
  bottom: var(--solSagOkBottom);
}

div.owl-zero.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-next > img {
  
   position: absolute;
  right: var(--solSagOkUzaklik);
  bottom: var(--solSagOkBottom); 
  
}

div.owl-zero.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-dots {
  
  position: absolute;
  right: var(--solSagOkUzaklik);
  bottom: 44px;
  
}

div.owl-zero.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-dots > button.owl-dot.active > span {
  background: white;
}

div.owl-zero.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-dots > .owl-dot > span {
  background: initial;
  border: white 2px solid;
}

.aramaKutusu {
  color: white;
  width: 190px;
  height: 32px;
  font-size: 13px;
  background-color: rgba(25, 52, 76, .5);
  border: solid 1px;
  font-weight: 500;
  border-color: #7c8b9b;
  font-family: inherit;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 30px;
}

.aramaBtn {
  display: flex;
  border: none;
  background: none;
  margin-top: -23px;
  margin-left: 175px;
}

.cizgi {
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%;
}