.onlinedergiler-baslik {
  font-size: 28.413px;
  color: rgb(58, 102, 175);
  font-weight: 500;
  line-height: 1.267;
  text-align: left;
}
  
.onlinedergiler-baslik-online {
  font-weight: 800;
}

.item-dergi {
  /*background-color: #a7c8dc;*/
}

.dergi {
  width: 208px !important;
  height: 290px !important;
  margin: 0 auto;
}

div.owl-two.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-next {
  position: absolute;
  top: -26%;
  left: 97%;
  height: 35px;
  width: 35px;
}

div.owl-two.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-prev {
  position: absolute;
  top: -26%;
  left: 93%;
  height: 35px;
  width: 35px;
}

.item-dergi {
  background-color: #a7c8dc !important;
}

.item-dergi-wrapper {
  /*background: url("../img/dergiler/hover.png")*/
}

.item-dergi-wrapper:hover {
  cursor: pointer;
  background: url("../img/dergiler/ho.png")
}

.item-dergi-wrapper:hover > img {
  opacity: 0;
  cursor: pointer;
}