.proje {
  background: url('../img/orta-bg.png');
  width: 100%;
  height: 625px;
}

.proje-card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 511px;
  height: 438px;
  margin: 0 auto;
  margin-top: 110px;
  z-index: 149;
  padding: 30px 30px 40px 20px;
}

.proje-baslik {
  font-size: 29px;
  color: rgb(58, 102, 175);
  font-weight: bold;
  line-height: 1.236;
  text-align: left;
  z-index: 171;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  height: auto;
}

.proje-detay-baslik {
  font-size: 20.295px;
  color: rgb(88, 91, 106);
  font-weight: bold;
  line-height: 1.774;
  text-align: left;
  z-index: 169;
}

.proje-detay-baslik-detay {
  font-size: 12px;
  color: rgb(145, 149, 164);
  width: 399.639px;
  height: 27.554px;
  z-index: 168;
}

/* 2.CARD */

.proje-card2-ext {
  background: url('../img/projeler/card2bg.png');
  background-repeat: no-repeat;
  width: 571px;
}

.proje-baslik-detay {
    font-size: 16.644px;
    color: rgb(58, 102, 175);
    font-weight: bold;
    text-align: left;
    z-index: 132;
}

#card2-container {

}

#card2-list {
  list-style-image: url('../img/projeler/bulletbg.png');
  padding-left: 13px;
}

.yan-basliklar {
    font-size: 16px;
    color: rgb(58, 102, 175) !important;
    font-weight: bold;
    line-height: 1.5;
    z-index: 135;
}

div.owl-one.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-next {
  position: absolute;
    right: -6px;
    top: 38%;
}

div.owl-one.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-prev {
  position: absolute;
    left: -6px;
    top: 38%;
}

