.haberler-container {
  margin-top: 49px;

  .haber-manset-resim {
    width: 100%;
    height: 100%;
  }
  .haber-manset-detay {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    padding-right: 65px;
    padding-top: 38px;
    padding-bottom: 38px;
    border: #e0e0e0 1px solid;

    @media (max-width: $phone) {
      padding: 5px;
      text-align: center;
    }

    &-container {
      $namespace: ".haber-manset-detay";
      #{$namespace}-baslik {
        font-size: 30px;
        color: rgb(57, 57, 57);
        font-weight: bold;
        line-height: 1.2;
      }
      #{$namespace}-detay {
        font-size: 16px;
        color: rgb(57, 57, 57);
        font-weight: bold;
        line-height: 1.5;
        height: 60px;
        
      }
      #{$namespace}-tarih {
        margin-top:66px;
        font-size: 14px;
        font-family: "OpenSans";
        color: rgb(167, 167, 162);
        line-height: 1.714;
        @media (max-width: $phone) {
          margin-top: 40px;
        }
      }
      .devamicintiklayin img {
        margin-top:45px;
        @media (max-width: $phone) {
          margin: initial;
          margin-bottom: 10px; 
        }
      }
    }
  }
  .haberler {
    margin-top: 28px;

    $namespace: '.haber-preview';
    #{$namespace}-wrapper {
      display: inline-block;
      background: url('../img/haber/hover.png');

      @media (max-width: $xs)
       {
        background: initial;
        display: block;
        margin: 7px auto;
        width: 50%;
      }
      

      #{$namespace}-resim {
        width: 100%;
        height: 100%;
        @media (max-width: $phone) {
          
        }
        &:hover {
          opacity: 0;
          cursor: pointer;
          @media (max-width: $xs) {
            opacity: 1;
          }
        }
      }
    }

  }

  .tumhaberlericintiklayin {
    margin-top:35px; 
    margin-bottom:77px;
    @media (max-width: $phone) {
      margin: initial;
      text-align: center;
      margin-bottom: 15px;
    }
  }

}