$solSagOkUzaklik: 100px;
$solSagOkBottom: 90px;

.owl-zero {
  height: 100%;

  @media (max-width: $phone) {
    img {
      object-fit: cover;
    } 
  }

  .owl-nav {
    .owl-prev img{
      position: absolute;
      left: $solSagOkUzaklik;
      bottom: $solSagOkBottom;
    }
    .owl-next img {
      position: absolute;
      right: $solSagOkUzaklik;
      bottom: $solSagOkBottom;
    }
  }
  .owl-dots {
    position: absolute;
    right: $solSagOkUzaklik;
    bottom: 44px;

    @media (max-width: $phone) {
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    .owl-dot {
      span {
        background: initial;
        border: white 2px solid;
      }
    }
    .active span{
      background: white;
    }
  }
}

