

.header {
  position: relative;
  height: 560px;

  .social-media {
    justify-content: flex-end;
    .online-islemler {
      margin-right: 32px;
    }
  }

  @media (max-width: $phone) {
    .social-media {
      justify-content: center;
      .online-islemler {
        margin: initial;
      }
      .links {
        margin-top: 10px;
      }
    }      
  }

  @import 'navbar.scss';

  .baslik {
    position: relative;
    bottom: 140px;
    z-index: 1;
    color: white;
    text-align: center;
    pointer-events: none;
    @media (max-width: $xs) {
      bottom: 225px;
    }
  }

  @import 'header-slider.scss';
}