*{
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:inherit;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.cizgi {
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%;
}
@import 'variables.scss';
@import 'header.scss';
@import 'haberler.scss';
@import 'projeler.scss';
@import 'online-dergiler.scss';
@import 'video-duyuru.scss';
@import 'hizmetler.scss';
@import 'footer.scss';
@import 'karamursel.scss';