* {
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway"; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    cursor: pointer;
    text-decoration: none; }

.cizgi {
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%; }

.header {
  position: relative;
  height: 560px; }
  @media (max-width: 1035px) {
    .header {
      height: 456px; } }
  @media (max-width: 825px) {
    .header {
      height: 360px; } }
  @media (max-width: 600px) {
    .header {
      height: 280px; } }
  @media (max-width: 499px) {
    .header {
      height: 210px; } }
  .header #iletisim {
    margin-right: 60px; }
    @media (max-width: 992px) {
      .header #iletisim {
        margin-right: 0px; } }
  .header .social-media {
    justify-content: flex-end; }
    @media (max-width: 1120px) {
      .header .social-media {
        margin-bottom: 50px; } }
    .header .social-media .online-islemler {
      margin-right: 32px; }
    @media (max-width: 992px) {
      .header .social-media {
        display: none; } }
    .header .social-media .links a:hover {
      display: inline-block;
      background: #9dd9fe;
      opacity: 1; }
    .header .social-media .links img:hover {
      opacity: 0.5; }
  .header .navbar-container {
    justify-content: flex-end;
    margin-top: -30px; }
    @media (max-width: 1200px) {
      .header .navbar-container {
        margin-top: 30px; } }
    @media (max-width: 1120px) {
      .header .navbar-container {
        margin-top: -20px; } }
    @media (max-width: 991px) {
      .header .navbar-container {
        margin-top: 0px; } }
  @media (min-width: 992px) {
    .header .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 5px;
      padding-left: .5rem; } }
  .header .nav-logo {
    margin-right: 38px; }
    @media (max-width: 1200px) {
      .header .nav-logo {
        display: none; } }
  .header .nav {
    padding: 0;
    background-color: #3a66af; }
    @media (min-width: 992px) {
      .header .nav {
        background-color: initial; } }
    .header .nav .navbar-nav {
      align-items: center; }
    .header .nav .dropdown-toggle::after {
      display: none; }
    .header .nav #karamurselDuzMobil {
      display: none; }
      @media (max-width: 605px) {
        .header .nav #karamurselDuzMobil {
          display: initial; } }
    @media (max-width: 605px) {
      .header .nav #karamurselDropdownWeb {
        display: none; } }
    .header .nav .navbar-nav .show .dropdown-toggle {
      color: #fbf239; }
    .header .nav .nav-item .active {
      color: #fbf239 !important; }
    .header .nav .dropdown-menu {
      padding: 0;
      margin: 0; }
    .header .nav .dropdown .show {
      margin-left: 10px;
      border-radius: unset;
      width: 570px; }
    .header .nav .dropdown ul {
      list-style-image: url("../img/list-icon.png"); }
      .header .nav .dropdown ul .row {
        margin: 0px; }
        .header .nav .dropdown ul .row .col-md-6 {
          border: 1px solid rgba(228, 228, 228, 0.561);
          margin: 0px;
          padding: 0px; }
          .header .nav .dropdown ul .row .col-md-6:first-child {
            border-right: none; }
      .header .nav .dropdown ul .li-item {
        border-bottom: 1px solid rgba(228, 228, 228, 0.561); }
        .header .nav .dropdown ul .li-item li {
          padding: 15px;
          margin-left: 54px; }
          .header .nav .dropdown ul .li-item li a {
            margin-left: 10px;
            font-size: 12px;
            font-family: "Raleway";
            color: #007fc5;
            font-weight: bold;
            line-height: 2.083;
            text-align: left; }
        .header .nav .dropdown ul .li-item:hover {
          background-color: #fef5ce; }
          .header .nav .dropdown ul .li-item:hover li {
            list-style-image: url("../img/list-icon-hover.png"); }
            .header .nav .dropdown ul .li-item:hover li a {
              color: #282d65; }
    .header .nav #text-title {
      margin: 0 auto;
      color: white;
      font-family: "Raleway";
      font-weight: 700; }
      @media (min-width: 992px) {
        .header .nav #text-title {
          display: none; } }
    .header .nav #hamburger-btn {
      background-color: white; }
    @media (min-width: 992px) {
      .header .nav {
        position: unset !important; } }
    @media (max-width: 991px) {
      .header .nav {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 10px !important; } }
    .header .nav .nav-item .nav-link {
      font-size: 14px;
      color: white;
      font-weight: bold;
      line-height: 1.702; }
    .header .nav .aramaAlani {
      width: 190px;
      height: 32px; }
      @media (max-width: 992px) {
        .header .nav .aramaAlani {
          display: none; } }
      .header .nav .aramaAlani .aramaKutusu {
        color: white;
        width: 190px;
        height: 32px;
        font-size: 14px;
        background-color: rgba(25, 52, 76, 0.5);
        border: solid 1px;
        font-weight: 500;
        border-color: #7c8b9b;
        font-family: inherit;
        font-weight: bold;
        padding-left: 20px; }
      .header .nav .aramaAlani .aramaBtn {
        display: flex;
        border: none;
        background: none;
        margin-top: -23px;
        margin-left: 160px; }
  .header .baslik {
    position: relative;
    bottom: 140px;
    z-index: 1;
    color: white;
    text-align: center;
    pointer-events: none; }
    @media (max-width: 576px) {
      .header .baslik {
        bottom: 225px; } }
  .header .owl-zero {
    height: 100%;
    background-color: black; }
    .header .owl-zero .item-header {
      height: 560px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
    @media (max-width: 576px) {
      .header .owl-zero img {
        object-fit: cover; } }
    .header .owl-zero .owl-dots {
      position: absolute;
      right: 100px;
      bottom: 44px; }
      @media (max-width: 576px) {
        .header .owl-zero .owl-dots {
          right: 0;
          left: 0;
          margin: 0 auto; } }
      .header .owl-zero .owl-dots .owl-dot span {
        background: initial;
        border: white 2px solid;
        margin: 2px;
        padding: 0px; }
      .header .owl-zero .owl-dots .active span {
        background: white; }
    .header .owl-zero .owl-zero-nav-container {
      z-index: 99;
      position: absolute;
      left: 0;
      right: 0;
      top: 77%;
      display: flex;
      justify-content: space-between;
      padding: 0; }
      @media (max-width: 990px) {
        .header .owl-zero .owl-zero-nav-container {
          justify-content: space-around; } }
    .header .owl-zero .owl-zero-prev {
      margin: 0 !important;
      /* margin-left: 80px !important;

    @media (max-width: 1200px) {
      margin-left: -60px !important;
    }
    @media (max-width: 1120px) {
      margin-left: 40px !important;
    }
    @media (max-width: 990px) {
      margin-left: 0px !important;
    } */ }
      .header .owl-zero .owl-zero-prev img {
        margin-left: 13px; }
    .header .owl-zero .owl-zero-next {
      margin: 0 !important;
      padding: 0 !important; }
    .header .owl-zero .owl-dots-ozel {
      justify-content: flex-end;
      top: 88%; }
      @media (max-width: 992px) {
        .header .owl-zero .owl-dots-ozel {
          margin-top: 30px;
          justify-content: center; } }

.haberler-container {
  margin-top: 49px; }
  .haberler-container .haber-manset-resim {
    width: 100%;
    height: 100%; }
  .haberler-container .haber-manset-detay {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    padding-right: 65px;
    padding-top: 38px;
    padding-bottom: 38px;
    border: #e0e0e0 1px solid; }
    @media (max-width: 499px) {
      .haberler-container .haber-manset-detay {
        border: none; } }
    @media (max-width: 499px) {
      .haberler-container .haber-manset-detay {
        padding: 5px;
        text-align: center; } }
    .haberler-container .haber-manset-detay-container .haber-manset-detay-baslik {
      font-size: 30px;
      color: #393939;
      font-weight: bold;
      line-height: 1.2; }
    .haberler-container .haber-manset-detay-container .haber-manset-detay-detay {
      font-size: 16px;
      color: #393939;
      font-weight: bold;
      line-height: 1.5;
      height: 60px; }
    .haberler-container .haber-manset-detay-container .haber-manset-detay-tarih {
      margin-top: 66px;
      font-size: 14px;
      font-family: "OpenSans";
      color: #a7a7a2;
      line-height: 1.714; }
      @media (max-width: 499px) {
        .haberler-container .haber-manset-detay-container .haber-manset-detay-tarih {
          margin-top: 40px; } }
    .haberler-container .haber-manset-detay-container .devamicintiklayin div {
      border-radius: 6px;
      background-color: #e8f7ff;
      padding: 7px;
      margin-top: 45px; }
    .haberler-container .haber-manset-detay-container .devamicintiklayin img {
      margin-left: 10px; }
      @media (max-width: 499px) {
        .haberler-container .haber-manset-detay-container .devamicintiklayin img {
          margin: initial;
          margin-bottom: 10px; } }
    .haberler-container .haber-manset-detay-container .devamicintiklayin span {
      font-size: 16px;
      font-family: "Raleway";
      text-align: center;
      margin-left: 10px;
      color: #69b5ee;
      font-weight: bold;
      line-height: 1.5; }
  .haberler-container .haberler {
    margin-top: 28px; }
    @media (max-width: 499px) {
      .haberler-container .haberler {
        display: none; } }
    .haberler-container .haberler .haber-preview-wrapper {
      display: inline-block;
      background: url("../img/haber/hover.png");
      background-position: center; }
      @media (max-width: 576px) {
        .haberler-container .haberler .haber-preview-wrapper {
          background: initial;
          display: block;
          margin: 7px auto;
          width: 50%; } }
      .haberler-container .haberler .haber-preview-wrapper .haber-preview-resim {
        width: 100%;
        height: 100%; }
        .haberler-container .haberler .haber-preview-wrapper .haber-preview-resim:hover {
          opacity: 0.3;
          cursor: pointer; }
          @media (max-width: 576px) {
            .haberler-container .haberler .haber-preview-wrapper .haber-preview-resim:hover {
              opacity: 1; } }
    .haberler-container .haberler .haber-preview-detay {
      margin-top: 5px;
      text-align: center;
      font-size: 13px;
      font-weight: 520;
      color: gray; }
  .haberler-container .tumhaberlericintiklayin {
    margin-top: 38px;
    margin-bottom: 40px; }
    @media (max-width: 499px) {
      .haberler-container .tumhaberlericintiklayin {
        margin: initial;
        text-align: center;
        margin-bottom: 15px; } }

.projeler {
  background: url("../img/orta-bg.png");
  width: 100%;
  height: 490px; }
  @media (max-width: 768px) {
    .projeler {
      height: initial;
      padding: 10px; } }
  .projeler-card, .projeler .baskan-card {
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 438px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px 30px 40px 20px; }
    @media (max-width: 768px) {
      .projeler-card, .projeler .baskan-card {
        margin: initial;
        height: initial;
        margin-top: 10px; } }
  .projeler-baslik, .projeler .baskan-card-baslik {
    font-size: 29px;
    color: #3a66af;
    font-weight: bold;
    line-height: 1.236;
    text-align: left;
    z-index: 171; }
  .projeler .owl-one {
    height: 197px;
    max-width: 500px; }
    @media (max-width: 992px) {
      .projeler .owl-one {
        height: initial; } }
    @media (max-width: 992px) {
      .projeler .owl-one .owl-nav {
        margin: initial; } }
    .projeler .owl-one .owl-nav .owl-prev img {
      position: absolute;
      left: 0px;
      top: 38%; }
    .projeler .owl-one .owl-nav .owl-next img {
      position: absolute;
      right: 0px;
      top: 38%; }
  .projeler .proje-detay-baslik {
    margin-top: 20px;
    font-size: 20.295px;
    color: #585b6a;
    font-weight: bold;
    line-height: 1.774;
    text-align: left; }
    @media (max-width: 992px) {
      .projeler .proje-detay-baslik {
        margin-top: 0px; } }
  .projeler .proje-detay-detay {
    font-size: 12px;
    color: #9195a4;
    font-family: "Raleway";
    line-height: 1.333;
    height: 27.554px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .projeler .proje-detay .projelericintiklayiniz img {
    margin-bottom: 8px; }
    @media (max-width: 992px) {
      .projeler .proje-detay .projelericintiklayiniz img {
        margin-top: 55px; } }
  .projeler .baskan-card {
    background: url("../img/projeler/card2bg.png");
    background-repeat: no-repeat; }
    @media (max-width: 992px) {
      .projeler .baskan-card {
        background: initial;
        background-color: white; } }
    @media (max-width: 768px) {
      .projeler .baskan-card {
        margin-top: 20px;
        background: url("../img/projeler/card2bg.png");
        background-repeat: no-repeat; } }
    @media (max-width: 499px) {
      .projeler .baskan-card {
        background-size: contain;
        background-position: center;
        background-color: white;
        background-position-y: 40%; } }
    .projeler .baskan-card-detay {
      margin-top: -15px;
      font-weight: 600;
      font-size: 16.644px;
      color: #3a66af; }
    .projeler .baskan-card-container-list {
      list-style-image: url("../img/projeler/bulletbg.png");
      padding-left: 6px; }
      .projeler .baskan-card-container-list li {
        margin-top: 15px; }
      .projeler .baskan-card-container-list a {
        font-size: 16px;
        color: #3a66af !important;
        font-weight: bold;
        line-height: 1.5; }
      .projeler .baskan-card-container-list:nth-child(1) {
        margin-top: 61px; }
      @media (max-width: 499px) {
        .projeler .baskan-card-container-list:last-child {
          width: 10%; } }
    .projeler .baskan-card .detaylaricintikla img {
      margin-top: 135px; }
      @media (max-width: 499px) {
        .projeler .baskan-card .detaylaricintikla img {
          margin-top: 100px; } }

.online-dergiler-container-baslik, .online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold, .video-duyuru-container .duyuru-baslik-normal, .normal-baslik, .footer .footer-baslik-normal {
  font-size: 28.413px;
  color: #3a66af;
  font-weight: 500;
  line-height: 1.267;
  text-align: left; }
  @media (max-width: 576px) {
    .online-dergiler-container-baslik, .online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold, .video-duyuru-container .duyuru-baslik-normal, .normal-baslik, .footer .footer-baslik-normal {
      margin-left: 20px; } }

.online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold {
  font-weight: 800; }

.online-dergiler-container .under {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; }

.online-dergiler-container .over {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: -1; }

.online-dergiler-container .dergi-dundenbugun-row {
  margin-top: 45px; }

.online-dergiler-container .row .owl-two .owl-nav {
  text-align: end; }
  .online-dergiler-container .row .owl-two .owl-nav .owl-next {
    margin-right: 0px; }

.online-dergiler-container .row .owl-two .item-dergi-wrapper:hover {
  cursor: pointer;
  background: url("../img/dergiler/ho.png");
  background-position: center; }

.online-dergiler-container .row .owl-two .item-dergi-wrapper:hover img {
  opacity: 0.3;
  cursor: pointer; }

.online-dergiler-container .row .dundenbugune-container {
  height: 313px;
  border: #a9cbef 2px solid;
  margin: 0px;
  padding-bottom: 16px; }
  @media (max-width: 1200px) {
    .online-dergiler-container .row .dundenbugune-container {
      padding-bottom: 9px; } }
  .online-dergiler-container .row .dundenbugune-container img {
    width: 100%;
    height: 160px; }
    @media (max-width: 576px) {
      .online-dergiler-container .row .dundenbugune-container img {
        width: 100%;
        height: initial; } }
  .online-dergiler-container .row .dundenbugune-container .tumuicintiklayiniz {
    width: initial;
    height: initial; }

.online-dergiler-container .row .owl-dunden-bugune .owl-item-active {
  border: #a9cbef 2px solid;
  padding-bottom: 10px;
  margin: 0; }

.online-dergiler-container .row .owl-dunden-bugune .dunden-bugune-text {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 14.563px;
  color: #a7c8dc;
  font-weight: bold;
  text-align: left; }

.online-dergiler-container .row .owl-dunden-bugune .dunden-bugune-baslik {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 20.295px;
  color: #585b6a;
  font-weight: bold;
  text-align: left; }

.online-dergiler-container .row .owl-dunden-bugune .tumuicintiklayiniz {
  margin-top: 37px;
  width: initial;
  float: right; }

.online-dergiler-container .row .owl-dunden-bugune .owl-nav {
  border: none;
  text-align: end; }
  .online-dergiler-container .row .owl-dunden-bugune .owl-nav .owl-next {
    margin-right: 0px; }

.online-dergiler-container-baslik, .online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold, .video-duyuru-container .duyuru-baslik-normal, .normal-baslik, .footer .footer-baslik-normal {
  font-size: 28.413px;
  color: #3a66af;
  font-weight: 500;
  line-height: 1.267;
  text-align: left; }
  @media (max-width: 576px) {
    .online-dergiler-container-baslik, .online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold, .video-duyuru-container .duyuru-baslik-normal, .normal-baslik, .footer .footer-baslik-normal {
      margin-left: 20px; } }

.online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold {
  font-weight: 800; }

.online-dergiler-container .under {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; }

.online-dergiler-container .over {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: -1; }

.online-dergiler-container .dergi-dundenbugun-row {
  margin-top: 45px; }

.online-dergiler-container .row .owl-two .owl-nav {
  text-align: end; }
  .online-dergiler-container .row .owl-two .owl-nav .owl-next {
    margin-right: 0px; }

.online-dergiler-container .row .owl-two .item-dergi-wrapper:hover {
  cursor: pointer;
  background: url("../img/dergiler/ho.png");
  background-position: center; }

.online-dergiler-container .row .owl-two .item-dergi-wrapper:hover img {
  opacity: 0.3;
  cursor: pointer; }

.online-dergiler-container .row .dundenbugune-container {
  height: 313px;
  border: #a9cbef 2px solid;
  margin: 0px;
  padding-bottom: 16px; }
  @media (max-width: 1200px) {
    .online-dergiler-container .row .dundenbugune-container {
      padding-bottom: 9px; } }
  .online-dergiler-container .row .dundenbugune-container img {
    width: 100%;
    height: 160px; }
    @media (max-width: 576px) {
      .online-dergiler-container .row .dundenbugune-container img {
        width: 100%;
        height: initial; } }
  .online-dergiler-container .row .dundenbugune-container .tumuicintiklayiniz {
    width: initial;
    height: initial; }

.online-dergiler-container .row .owl-dunden-bugune .owl-item-active {
  border: #a9cbef 2px solid;
  padding-bottom: 10px;
  margin: 0; }

.online-dergiler-container .row .owl-dunden-bugune .dunden-bugune-text {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 14.563px;
  color: #a7c8dc;
  font-weight: bold;
  text-align: left; }

.online-dergiler-container .row .owl-dunden-bugune .dunden-bugune-baslik {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 20.295px;
  color: #585b6a;
  font-weight: bold;
  text-align: left; }

.online-dergiler-container .row .owl-dunden-bugune .tumuicintiklayiniz {
  margin-top: 37px;
  width: initial;
  float: right; }

.online-dergiler-container .row .owl-dunden-bugune .owl-nav {
  border: none;
  text-align: end; }
  .online-dergiler-container .row .owl-dunden-bugune .owl-nav .owl-next {
    margin-right: 0px; }

.video-duyuru-container-border, .video-duyuru-container .video-container, .video-duyuru-container .duyuru-container {
  border: #a9cbef 2px solid; }

.video-duyuru-container {
  margin-top: 40px; }
  .video-duyuru-container .video-container {
    padding: 40px 42px 0px 42px;
    height: 90%; }
    .video-duyuru-container .video-container iframe {
      width: 100%;
      height: 245px; }
    .video-duyuru-container .video-container .video-baslik {
      font-size: 14.563px;
      color: #585b6a;
      font-weight: bold;
      line-height: 2.472;
      text-align: left; }
  @media (max-width: 768px) {
    .video-duyuru-container .duyuru-baslik-bold {
      margin-top: 20px; } }
  @media (max-width: 768px) {
    .video-duyuru-container .duyuru-baslik-normal {
      margin-top: 20px; } }
  .video-duyuru-container .duyuru-container {
    padding-top: 38px;
    height: 90%; }
    @media (max-width: 992px) {
      .video-duyuru-container .duyuru-container {
        padding: initial;
        padding: 40px 42px 0px 35px; } }
    @media (max-width: 576px) {
      .video-duyuru-container .duyuru-container {
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px; } }
    .video-duyuru-container .duyuru-container .duyuru-wrapper {
      width: 100%;
      padding: 0;
      margin: 0; }
      @media (max-width: 576px) {
        .video-duyuru-container .duyuru-container .duyuru-wrapper {
          text-align: center; } }
      .video-duyuru-container .duyuru-container .duyuru-wrapper:hover {
        background-color: #eff6fd;
        width: 100%;
        cursor: pointer; }
      .video-duyuru-container .duyuru-container .duyuru-wrapper .duyuru-resim {
        height: 72px;
        width: 136px; }
      .video-duyuru-container .duyuru-container .duyuru-wrapper .duyuru-baslik {
        font-size: 12.483px;
        color: #585b6a;
        font-weight: bold;
        line-height: 1.717;
        text-align: left; }
        @media (max-width: 576px) {
          .video-duyuru-container .duyuru-container .duyuru-wrapper .duyuru-baslik {
            text-align: center;
            width: 100%; } }
      @media (max-width: 576px) {
        .video-duyuru-container .duyuru-container .duyuru-wrapper .tarih-row {
          justify-content: center; } }
      .video-duyuru-container .duyuru-container .duyuru-wrapper .duyuru-tarih {
        font-size: 14.563px;
        color: #a7a7a8;
        font-weight: bold;
        line-height: 2.472;
        text-align: left; }
        @media (max-width: 576px) {
          .video-duyuru-container .duyuru-container .duyuru-wrapper .duyuru-tarih {
            text-align: center; } }
    .video-duyuru-container .duyuru-container .tumduyuruveilanlar {
      padding-top: 30px;
      padding-left: 26px;
      padding-bottom: 20px; }
      @media (max-width: 576px) {
        .video-duyuru-container .duyuru-container .tumduyuruveilanlar {
          padding-top: 0px;
          padding-left: 0px;
          padding-bottom: 0px;
          text-align: center; } }

.hizmetler {
  margin-top: 40px; }
  .hizmetler .hizmet-resim {
    width: 100%;
    height: 115px; }

.online-dergiler-container-baslik, .online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold, .video-duyuru-container .duyuru-baslik-normal, .normal-baslik, .footer .footer-baslik-normal {
  font-size: 28.413px;
  color: #3a66af;
  font-weight: 500;
  line-height: 1.267;
  text-align: left; }
  @media (max-width: 576px) {
    .online-dergiler-container-baslik, .online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold, .video-duyuru-container .duyuru-baslik-normal, .normal-baslik, .footer .footer-baslik-normal {
      margin-left: 20px; } }

.online-dergiler-container-baslik-bold, .video-duyuru-container-bold, .video-duyuru-container .video-baslik-bold, .video-duyuru-container .duyuru-baslik-bold, .bold-baslik, .footer .footer-baslik-bold {
  font-weight: 800; }

.online-dergiler-container .under {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; }

.online-dergiler-container .over {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: -1; }

.online-dergiler-container .dergi-dundenbugun-row {
  margin-top: 45px; }

.online-dergiler-container .row .owl-two .owl-nav {
  text-align: end; }
  .online-dergiler-container .row .owl-two .owl-nav .owl-next {
    margin-right: 0px; }

.online-dergiler-container .row .owl-two .item-dergi-wrapper:hover {
  cursor: pointer;
  background: url("../img/dergiler/ho.png");
  background-position: center; }

.online-dergiler-container .row .owl-two .item-dergi-wrapper:hover img {
  opacity: 0.3;
  cursor: pointer; }

.online-dergiler-container .row .dundenbugune-container {
  height: 313px;
  border: #a9cbef 2px solid;
  margin: 0px;
  padding-bottom: 16px; }
  @media (max-width: 1200px) {
    .online-dergiler-container .row .dundenbugune-container {
      padding-bottom: 9px; } }
  .online-dergiler-container .row .dundenbugune-container img {
    width: 100%;
    height: 160px; }
    @media (max-width: 576px) {
      .online-dergiler-container .row .dundenbugune-container img {
        width: 100%;
        height: initial; } }
  .online-dergiler-container .row .dundenbugune-container .tumuicintiklayiniz {
    width: initial;
    height: initial; }

.online-dergiler-container .row .owl-dunden-bugune .owl-item-active {
  border: #a9cbef 2px solid;
  padding-bottom: 10px;
  margin: 0; }

.online-dergiler-container .row .owl-dunden-bugune .dunden-bugune-text {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 14.563px;
  color: #a7c8dc;
  font-weight: bold;
  text-align: left; }

.online-dergiler-container .row .owl-dunden-bugune .dunden-bugune-baslik {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 20.295px;
  color: #585b6a;
  font-weight: bold;
  text-align: left; }

.online-dergiler-container .row .owl-dunden-bugune .tumuicintiklayiniz {
  margin-top: 37px;
  width: initial;
  float: right; }

.online-dergiler-container .row .owl-dunden-bugune .owl-nav {
  border: none;
  text-align: end; }
  .online-dergiler-container .row .owl-dunden-bugune .owl-nav .owl-next {
    margin-right: 0px; }

.footer {
  margin-top: 40px; }
  @media (max-width: 576px) {
    .footer .footer-baslik-normal {
      text-align: center; } }
  @media (max-width: 576px) {
    .footer .footer-sosyal-medya-baslik-conntainer {
      display: none; } }
  .footer .footer-social-media {
    text-align: end; }
    @media (max-width: 576px) {
      .footer .footer-social-media {
        text-align: center; } }
    .footer .footer-social-media a:hover {
      display: inline-block;
      background: #9dd9fe; }
    .footer .footer-social-media img:hover {
      opacity: 0.5; }
  .footer .footer-cizgi {
    border: #9dd9fe 1px solid;
    width: 100%;
    margin-top: 25px; }
    @media (max-width: 576px) {
      .footer .footer-cizgi {
        margin-bottom: 0px; } }
  .footer .footer-bilgi-container {
    margin-top: 25px;
    margin-bottom: 0px;
    width: 100%; }
    @media (max-width: 576px) {
      .footer .footer-bilgi-container {
        padding: 30px;
        margin-top: 0px; } }
  .footer .footer-baslik {
    font-size: 16.236px;
    color: #3a66af;
    font-weight: bold;
    line-height: 2.217;
    text-align: left; }
  .footer .footer-baslik-detay {
    margin: 0px;
    font-size: 12px;
    color: #b2b4be !important;
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    display: block; }

.footer-telefon-container {
  background-color: #f6f6f6; }
  .footer-telefon-container .row {
    height: 185px; }
    @media (max-width: 576px) {
      .footer-telefon-container .row {
        height: 250px; } }
  .footer-telefon-container .footer-telefon-baslik {
    font-size: 12px;
    color: #b2b4be;
    font-weight: bold;
    line-height: 1.5;
    text-align: left; }
  .footer-telefon-container .belediyeismitext,
  .footer-telefon-container .tumhaklarisaklidir {
    font-size: 12px;
    color: #84878c;
    font-weight: 700; }
  .footer-telefon-container .belediyeismitext {
    font-weight: 800; }
  .footer-telefon-container .designedby {
    font-size: 10px;
    color: #84878c;
    font-weight: bold;
    text-align: right; }

.yukaricik {
  position: relative;
  left: 92%;
  bottom: 15px; }
  @media (max-width: 992px) {
    .yukaricik {
      left: 90%; } }
  @media (max-width: 768px) {
    .yukaricik {
      left: 85%; } }
  @media (max-width: 576px) {
    .yukaricik {
      left: 80%; } }
  @media (max-width: 499px) {
    .yukaricik {
      left: 70%; } }

.karamursel .header, .iletisim .header {
  height: 325px;
  position: relative;
  /* background-size: cover;
    @media (max-width: $phone) {
      background-size: cover;
    } */
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
  margin-bottom: 50px;
  padding-right: 0px;
  padding-left: 0px; }
  @media (max-width: 825px) {
    .karamursel .header, .iletisim .header {
      height: 300px; } }
  @media (max-width: 600px) {
    .karamursel .header, .iletisim .header {
      height: 250px; } }
  @media (max-width: 499px) {
    .karamursel .header, .iletisim .header {
      height: 230px; } }

.karamursel .header-kesfet-text-wrapper, .iletisim .header-kesfet-text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 65px; }
  @media (max-width: 576px) {
    .karamursel .header-kesfet-text-wrapper, .iletisim .header-kesfet-text-wrapper {
      bottom: 25px;
      right: 17px; } }

.karamursel .header-kesfet-text, .iletisim .header-kesfet-text {
  font-size: 24px;
  color: white;
  font-weight: bold;
  line-height: 1.083; }
  @media (max-width: 992px) {
    .karamursel .header-kesfet-text, .iletisim .header-kesfet-text {
      font-size: 20px; } }

.karamursel .karamursel-breadcrumb, .iletisim .karamursel-breadcrumb {
  font-size: 14px;
  color: #78c0e8;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.857;
  text-align: left;
  margin-bottom: 53px; }

.karamursel .menu-container, .iletisim .menu-container {
  border: 1px solid #a9cbef;
  border-radius: 10px;
  background: #fafdff; }
  .karamursel .menu-container ul, .iletisim .menu-container ul {
    list-style-image: url("../img/list-icon.png");
    margin-top: 10px;
    margin-left: 50px; }
    .karamursel .menu-container ul li, .iletisim .menu-container ul li {
      padding-top: 5px; }
      .karamursel .menu-container ul li a, .iletisim .menu-container ul li a {
        color: #78c0e8;
        font-weight: 700;
        font-size: 14px;
        line-height: 2.857;
        text-transform: uppercase;
        text-align: left;
        text-decoration: none; }

.karamursel .metin-container .metin-foto, .iletisim .metin-container .metin-foto {
  width: 100%;
  height: 400px; }
  @media (max-width: 768px) {
    .karamursel .metin-container .metin-foto, .iletisim .metin-container .metin-foto {
      margin-top: 25px;
      object-fit: cover; } }

.karamursel .metin-container .metin-baslik, .iletisim .metin-container .metin-baslik {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.75px; }

.karamursel .metin-container .metin-alt-baslik, .iletisim .metin-container .metin-alt-baslik {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.333;
  letter-spacing: 0.75px; }

.karamursel .metin-container .metin, .iletisim .metin-container .metin {
  font-size: 14px;
  color: #8f9091;
  font-weight: 500;
  line-height: 1.714; }

.karamursel .galeri-container .galeri-baslik, .iletisim .galeri-container .galeri-baslik {
  font-size: 18px;
  color: #3a66af;
  font-weight: bold;
  line-height: 1.333; }

.karamursel .galeri-container .galeri-foto-container, .iletisim .galeri-container .galeri-foto-container {
  position: relative; }
  .karamursel .galeri-container .galeri-foto-container:hover .foto-buyuk, .iletisim .galeri-container .galeri-foto-container:hover .foto-buyuk {
    opacity: 0.9; }
  .karamursel .galeri-container .galeri-foto-container .galeri-fotolar, .iletisim .galeri-container .galeri-foto-container .galeri-fotolar {
    width: 100%;
    height: 100px;
    display: block; }
    @media (max-width: 576px) {
      .karamursel .galeri-container .galeri-foto-container .galeri-fotolar, .iletisim .galeri-container .galeri-foto-container .galeri-fotolar {
        object-fit: cover; } }
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk, .iletisim .galeri-container .galeri-foto-container .foto-buyuk {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    align-content: center;
    color: yellow;
    background: #3a66af;
    border: 1px solid #a9cbef;
    font-weight: bold;
    font-size: 8px;
    text-decoration: none;
    padding-top: 20px; }
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:hover, .iletisim .galeri-container .galeri-foto-container .foto-buyuk:hover,
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:visited,
  .iletisim .galeri-container .galeri-foto-container .foto-buyuk:visited,
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:link,
  .iletisim .galeri-container .galeri-foto-container .foto-buyuk:link,
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:active,
  .iletisim .galeri-container .galeri-foto-container .foto-buyuk:active {
    text-decoration: none;
    color: yellow; }

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: '' !important; }

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: '' !important; }

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0; }
  .swiper-container .swiper-wrapper .swiper-slide {
    position: relative;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; }
  .swiper-container .navigate-container {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 77%;
    display: flex;
    justify-content: space-between;
    padding: 0; }
    @media (max-width: 990px) {
      .swiper-container .navigate-container {
        justify-content: space-around; } }
    @media (max-width: 499px) {
      .swiper-container .navigate-container {
        justify-content: space-between;
        top: 56%; } }
    .swiper-container .navigate-container .swiper-button-prev-uniq {
      z-index: 1;
      width: 34px;
      height: 24px;
      background-repeat: no-repeat;
      margin-left: 35px; }
      @media (max-width: 992px) {
        .swiper-container .navigate-container .swiper-button-prev-uniq {
          margin: initial; } }
    .swiper-container .navigate-container .swiper-button-next-uniq {
      z-index: 1;
      width: 34px;
      height: 24px;
      background-repeat: no-repeat; }
  .swiper-container .dots {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 50px !important; }
    @media (max-width: 992px) {
      .swiper-container .dots {
        justify-content: center; } }
    @media (max-width: 576px) {
      .swiper-container .dots {
        bottom: 20px !important; } }
    .swiper-container .dots span {
      background: initial;
      border: white 2px solid;
      margin: 2px;
      padding: 0px;
      height: 10px !important;
      width: 10px !important; }
    .swiper-container .dots .swiper-pagination-bullet-active {
      background-color: white; }

#slider-baslik-container {
  text-align: center;
  position: relative;
  bottom: 115px;
  pointer-events: none;
  z-index: 1;
  color: white;
  text-align: center; }
  @media (max-width: 576px) {
    #slider-baslik-container {
      bottom: 100px; } }
  #slider-baslik-container #slider-title {
    font-weight: 600;
    font-size: 30px; }
    @media (max-width: 576px) {
      #slider-baslik-container #slider-title {
        font-size: initial;
        margin-bottom: initial; } }
  #slider-baslik-container #sekilliyazi {
    font-size: 30px;
    font-family: 'Marck Script', cursive; }
    @media (max-width: 576px) {
      #slider-baslik-container #sekilliyazi {
        font-size: 30px; } }

.karamursel .header, .iletisim .header {
  height: 325px;
  position: relative;
  /* background-size: cover;
    @media (max-width: $phone) {
      background-size: cover;
    } */
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
  margin-bottom: 50px;
  padding-right: 0px;
  padding-left: 0px; }
  @media (max-width: 825px) {
    .karamursel .header, .iletisim .header {
      height: 300px; } }
  @media (max-width: 600px) {
    .karamursel .header, .iletisim .header {
      height: 250px; } }
  @media (max-width: 499px) {
    .karamursel .header, .iletisim .header {
      height: 230px; } }

.karamursel .header-kesfet-text-wrapper, .iletisim .header-kesfet-text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 65px; }
  @media (max-width: 576px) {
    .karamursel .header-kesfet-text-wrapper, .iletisim .header-kesfet-text-wrapper {
      bottom: 25px;
      right: 17px; } }

.karamursel .header-kesfet-text, .iletisim .header-kesfet-text {
  font-size: 24px;
  color: white;
  font-weight: bold;
  line-height: 1.083; }
  @media (max-width: 992px) {
    .karamursel .header-kesfet-text, .iletisim .header-kesfet-text {
      font-size: 20px; } }

.karamursel .karamursel-breadcrumb, .iletisim .karamursel-breadcrumb {
  font-size: 14px;
  color: #78c0e8;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.857;
  text-align: left;
  margin-bottom: 53px; }

.karamursel .menu-container, .iletisim .menu-container {
  border: 1px solid #a9cbef;
  border-radius: 10px;
  background: #fafdff; }
  .karamursel .menu-container ul, .iletisim .menu-container ul {
    list-style-image: url("../img/list-icon.png");
    margin-top: 10px;
    margin-left: 50px; }
    .karamursel .menu-container ul li, .iletisim .menu-container ul li {
      padding-top: 5px; }
      .karamursel .menu-container ul li a, .iletisim .menu-container ul li a {
        color: #78c0e8;
        font-weight: 700;
        font-size: 14px;
        line-height: 2.857;
        text-transform: uppercase;
        text-align: left;
        text-decoration: none; }

.karamursel .metin-container .metin-foto, .iletisim .metin-container .metin-foto {
  width: 100%;
  height: 400px; }
  @media (max-width: 768px) {
    .karamursel .metin-container .metin-foto, .iletisim .metin-container .metin-foto {
      margin-top: 25px;
      object-fit: cover; } }

.karamursel .metin-container .metin-baslik, .iletisim .metin-container .metin-baslik {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.75px; }

.karamursel .metin-container .metin-alt-baslik, .iletisim .metin-container .metin-alt-baslik {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.333;
  letter-spacing: 0.75px; }

.karamursel .metin-container .metin, .iletisim .metin-container .metin {
  font-size: 14px;
  color: #8f9091;
  font-weight: 500;
  line-height: 1.714; }

.karamursel .galeri-container .galeri-baslik, .iletisim .galeri-container .galeri-baslik {
  font-size: 18px;
  color: #3a66af;
  font-weight: bold;
  line-height: 1.333; }

.karamursel .galeri-container .galeri-foto-container, .iletisim .galeri-container .galeri-foto-container {
  position: relative; }
  .karamursel .galeri-container .galeri-foto-container:hover .foto-buyuk, .iletisim .galeri-container .galeri-foto-container:hover .foto-buyuk {
    opacity: 0.9; }
  .karamursel .galeri-container .galeri-foto-container .galeri-fotolar, .iletisim .galeri-container .galeri-foto-container .galeri-fotolar {
    width: 100%;
    height: 100px;
    display: block; }
    @media (max-width: 576px) {
      .karamursel .galeri-container .galeri-foto-container .galeri-fotolar, .iletisim .galeri-container .galeri-foto-container .galeri-fotolar {
        object-fit: cover; } }
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk, .iletisim .galeri-container .galeri-foto-container .foto-buyuk {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    align-content: center;
    color: yellow;
    background: #3a66af;
    border: 1px solid #a9cbef;
    font-weight: bold;
    font-size: 8px;
    text-decoration: none;
    padding-top: 20px; }
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:hover, .iletisim .galeri-container .galeri-foto-container .foto-buyuk:hover,
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:visited,
  .iletisim .galeri-container .galeri-foto-container .foto-buyuk:visited,
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:link,
  .iletisim .galeri-container .galeri-foto-container .foto-buyuk:link,
  .karamursel .galeri-container .galeri-foto-container .foto-buyuk:active,
  .iletisim .galeri-container .galeri-foto-container .foto-buyuk:active {
    text-decoration: none;
    color: yellow; }

.iletisim .karamursel-breadcrumb {
  margin-bottom: 15px; }
