.header {
  position: relative;
  height: 560px; }
  .header .sosyal-media-container {
    z-index: 9;
    position: absolute;
    left: 50%; }
  .header .nav {
    align-items: center;
    position: absolute;
    z-index: 9;
    margin-top: 30px; }
    .header .nav .navbar-brand img {
      width: 141px;
      height: 135px; }
    .header .nav .nav-item .nav-link {
      font-size: 13px;
      font-weight: 800;
      color: white;
      padding: 1rem 0.4rem; }
    .header .nav .aramaAlani .aramaKutusu {
      color: white;
      width: 190px;
      height: 32px;
      font-size: 13px;
      background-color: rgba(25, 52, 76, 0.5);
      border: solid 1px;
      font-weight: 500;
      border-color: #7c8b9b;
      font-family: inherit;
      font-weight: bold;
      padding-left: 20px;
      margin-left: 30px; }
    .header .nav .aramaAlani .aramaBtn {
      display: flex;
      border: none;
      background: none;
      margin-top: -23px;
      margin-left: 175px; }
  .header .baslik {
    position: relative;
    bottom: 140px;
    z-index: 1;
    color: white;
    text-align: center;
    pointer-events: none; }
  .header .owl-zero {
    height: 100%;
    /*.item-header {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }*/ }
    .header .owl-zero .owl-nav .owl-prev img {
      position: absolute;
      left: 100px;
      bottom: 90px; }
    .header .owl-zero .owl-nav .owl-next img {
      position: absolute;
      right: 100px;
      bottom: 90px; }
    .header .owl-zero .owl-dots {
      position: absolute;
      right: 100px;
      bottom: 44px; }
      .header .owl-zero .owl-dots .owl-dot span {
        background: initial;
        border: white 2px solid; }
      .header .owl-zero .owl-dots .active span {
        background: white; }
