.owl-zero {
  height: 100%;
  /*.item-header {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }*/ }
  .owl-zero .owl-nav .owl-prev img {
    position: absolute;
    left: 100px;
    bottom: 90px; }
  .owl-zero .owl-nav .owl-next img {
    position: absolute;
    right: 100px;
    bottom: 90px; }
  .owl-zero .owl-dots {
    position: absolute;
    right: 100px;
    bottom: 44px; }
    .owl-zero .owl-dots .owl-dot span {
      background: initial;
      border: white 2px solid; }
    .owl-zero .owl-dots .active span {
      background: white; }
