html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway';
    color: rgb(143, 144, 145);
}

.karamursel-header {
    height: 325px;
    position: relative;
    background: url('../img/karamursel/header.png');
    margin-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
}

.sosyal-media {
    position: absolute;
    z-index: 9;
     left: 50%;
}

.cizgi {
    position: absolute;
    z-index: 9;
    bottom: 0px;
    width: 100%;
}

/* */
.nav {
    align-items: center;
    position: absolute;
    z-index: 9;
    margin-top:30px;
  }
  
  .navbar-brand img {
    width: 141px;
    height: 135px;
  }
  
  .nav-item a {
    font-size: 13px;
    font-weight: 800;
    color: white;
  }
  
  .nav-link {
    padding: 1rem 0.4rem;
  }
  
  .input-group {
    width: initial;
  }

/* arama kutusu */

.aramaKutusu {
    color: white;
    width: 190px;
    height: 32px;
    font-size: 13px;
    background-color: rgba(25, 52, 76, .5);
    border: solid 1px;
    font-weight: 500;
    border-color: #7c8b9b;
    font-family: inherit;
    font-weight: bold;
    padding-left: 20px;
    margin-left: 30px;
  }
  
  .aramaBtn {
    display: flex;
    border: none;
    background: none;
    margin-top: -23px;
    margin-left: 175px;
  }

/* */
.header-kesfet-text {
    font-size: 24px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.083;
    text-align: center;
    position: absolute;
    right: 133px;
    bottom: 65px;
}


.karamursel-breadcrumb {
    font-size: 14px;
    color: rgb(120, 192, 232);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.857;
    text-align: left;
    margin-bottom: 53px;
}

/* metin */
.metin-foto {
    width: 100%;
    height: 400px;
}

.metin-baslik {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333; 
    letter-spacing: 0.75px;
}

.metin-alt-baslik {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.333;
    letter-spacing: 0.75px;

}

.metin {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.714;
    letter-spacing: 1.5px;
}

/* galeri */
.galeri-baslik {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(58, 102, 175);
    font-weight: bold;
    line-height: 1.333;

}

.FOTOĞRAFLARLA_KARAMÜRSEL {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(58, 102, 175);
    font-weight: bold;
    line-height: 1.333;
    position: absolute;
    left: 689.781px;
    top: 1388.53px;
    width: 307px;
    height: 17px;
    z-index: 136;
}


.galeri-fotolar {
    width: 100%;
    height: 100px;
    display: block;
}

.foto-buyuk {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    align-content: center;
    color: yellow;
    background: #3a66af;
    border: 1px solid #a9cbef;
    font-weight: bold;
    font-size: 8px;
    text-decoration: none;
    padding-top: 20px;
}

.foto-buyuk:hover,
.foto-buyuk:visited,
.foto-buyuk:link,
.foto-buyuk:active {
    text-decoration: none;
    color: yellow;
}

.galeri-foto-container {
    position: relative;
}

.galeri-foto-container:hover > .galeri-fotolar {

}

.galeri-foto-container:hover > .foto-buyuk {
    opacity: 0.9;
}

/* menü */
.menu-container {
    border: 1px solid #a9cbef;
    border-radius: 10px;
    background: #fafdff;
}

.menu-container > ul {
    list-style-image: url('../img/list-icon.png');
    margin: 15px;
}

.menu-container > ul > li {
    padding-top: 5px;
}

.menu-container > ul > li > a {
    color: rgb(120, 192, 232);
    font-weight: 700;
    font-size: 14px;
    line-height: 2.857;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}

/* başgan */
.basgan-container {
    border-radius: 10px;
    background: #fbf239;
    padding: 5px;
}

.basgan-container > img {
    margin-top: -15px;
}

.basgan-isim {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(58, 102, 175);
    font-weight: 800;
    text-align: center;
    position: relative;
    margin-top: 10px
}

.basgan-unvan {
    font-size: 11px;
    font-family: "Raleway";
    color: rgb(58, 102, 175);
    font-weight: 600;
    text-align: center;
    margin-top: -5px;
}

.basgan-container > ul > li {
    color: rgb(58, 102, 175);
    text-align: start;
    -moz-transform: matrix(0.80909868792514, 0, 0, 0.80240172401586, 0, 0);
    -webkit-transform: matrix(0.80909868792514, 0, 0, 0.80240172401586, 0, 0);
    -ms-transform: matrix(0.80909868792514, 0, 0, 0.80240172401586, 0, 0);
}

.basgan-container > ul > li > a {
    font-size: 14pt;
    font-family: "Raleway";
    color: rgb(58, 102, 175);
    font-weight: 600;
    line-height: 1.5;
    -moz-transform: matrix(0.80909868792514, 0, 0, 0.80240172401586, 0, 0);
    -webkit-transform: matrix(0.80909868792514, 0, 0, 0.80240172401586, 0, 0);
    -ms-transform: matrix(0.80909868792514, 0, 0, 0.80240172401586, 0, 0);
    position: absolute;
    margin-left: -10px;
    margin-top: -3px
}


/* dergi */
.dergi-container {
    border-radius: 10px;
    background: #a7c8dc;
    padding: 30px 10px 10px;
}

.dergi {
    box-shadow: -10px 5px 5px -5px #698a9d;
    margin-bottom: 0;
}

.dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0.1px solid rgb(215 235 254);
    background: #ffffff;
    color: rgb(43 100 178);
    padding: 0;
    display: inline-block;
}

/*------------------ONLİNE DERGİLER (COPY) ------------------------ */

.onlinedergiler-baslik {
    font-size: 28.413px;
    color: rgb(58, 102, 175);
    font-weight: 500;
    line-height: 1.267;
    text-align: left;
  }
    
  .onlinedergiler-baslik-online {
    font-weight: 800;
  }
  
  .dergi {
    width: 208px !important;
    height: 290px !important;
    margin: 0 auto;
  }
  
  div.owl-two.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-next {
    position: absolute;
    top: -26%;
    left: 97%;
    height: 35px;
    width: 35px;
  }
  
  div.owl-two.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav > button.owl-prev {
    position: absolute;
    top: -26%;
    left: 93%;
    height: 35px;
    width: 35px;
  }
  
  .item-dergi {
    background-color: #a7c8dc !important;
  }
  
  .item-dergi-wrapper:hover {
    cursor: pointer;
    background: url("../img/dergiler/ho.png")
  }
  
  .item-dergi-wrapper:hover > img {
    opacity: 0;
    cursor: pointer;
  }


/*------------------FOOTER (COPY) ------------------------ */

.footer-baslik-detay {
    margin: 0px;
    font-size: 12px;
    color: rgb(178, 180, 190) !important;
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    display: block;
  }
  
  .footer-baslik {
    font-size: 16.236px;
    color: rgb(58, 102, 175);
    font-weight: bold;
    line-height: 2.217;
    text-align: left;
  }
    
  .footer-telefon-baslik {
      font-size: 12px;
      color: rgb(178, 180, 190);
      font-weight: bold;
      line-height: 1.5;
      text-align: left;
  }
  
  .belediyeismitext,
  .tumhaklarisaklidir {
    font-size: 12px;
    color: rgb(132, 135, 140);
    font-weight: 700;
  }
  
  .belediyeismitext {
    font-weight: 800;
  }
  
  .designedby {
    font-size: 10px;
    color: rgb(132, 135, 140);
    font-weight: bold;
    text-align: right;
  }
  
  .yukaricik {
    position: relative;
    left: 92%;
    bottom: 15px;
  }