

/*------- VİDEOLAR && DUYURU VE İLANLAR BÖLÜMÜ -------*/
.duyuru-container, 
.video-container {
  border: #a9cbef 2px solid;
  /*height: 100%;*/
}

.video-container {
  padding: 40px 42px 0px 42px;
}

.duyuru-container {
  padding-top: 38px;
  /*padding-left: 26px;*/
}

.video-baslik {
  font-size: 14.563px;
  color: rgb(88, 91, 106);
  font-weight: bold;
  line-height: 2.472;
  text-align: left;
}

.duyuru-resim {
  height:72px;
  width:136px;
}

.duyuru-baslik {
  font-size: 12.483px;
  color: rgb(88, 91, 106);
  font-weight: bold;
  line-height: 1.717;
  text-align: left;
}

.duyuru-tarih {
  font-size: 14.563px;
  color: rgb(167, 167, 168);
  font-weight: bold;
  line-height: 2.472;
  text-align: left;
}

.duyuru-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.duyuru-wrapper:hover {
  background-color: #eff6fd;
  width: 100%;
  cursor: pointer;
}

/*------- HİZMETLER BÖLÜMÜ -------*/
.hizmet-resim {
  width: 160px;
  height: 115px;
}

/*------- FOOTER BÖLÜMÜ -------*/
.footer-baslik-detay {
  margin: 0px;
  font-size: 12px;
  color: rgb(178, 180, 190) !important;
  font-weight: bold;
  line-height: 1.667;
  text-align: left;
  display: block;
}

.footer-baslik {
  font-size: 16.236px;
  color: rgb(58, 102, 175);
  font-weight: bold;
  line-height: 2.217;
  text-align: left;
}
  
.footer-telefon-baslik {
    font-size: 12px;
    color: rgb(178, 180, 190);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

.belediyeismitext,
.tumhaklarisaklidir {
  font-size: 12px;
  color: rgb(132, 135, 140);
  font-weight: 700;
}

.belediyeismitext {
  font-weight: 800;
}

.designedby {
  font-size: 10px;
  color: rgb(132, 135, 140);
  font-weight: bold;
  text-align: right;
}

.yukaricik {
  position: relative;
  left: 92%;
  bottom: 15px;
}