* {
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    cursor: pointer;
    text-decoration: none; }

.cizgi {
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%; }

.header {
  position: relative;
  height: 560px; }
  .header .sosyal-media-container {
    z-index: 9;
    position: absolute;
    left: 50%; }
  .header .nav {
    align-items: center;
    position: absolute;
    z-index: 9;
    margin-top: 30px; }
    .header .nav .navbar-brand img {
      width: 141px;
      height: 135px; }
    .header .nav .nav-item .nav-link {
      font-size: 13px;
      font-weight: 800;
      color: white;
      padding: 1rem 0.4rem; }
    .header .nav .aramaAlani .aramaKutusu {
      color: white;
      width: 190px;
      height: 32px;
      font-size: 13px;
      background-color: rgba(25, 52, 76, 0.5);
      border: solid 1px;
      font-weight: 500;
      border-color: #7c8b9b;
      font-family: inherit;
      font-weight: bold;
      padding-left: 20px;
      margin-left: 30px; }
    .header .nav .aramaAlani .aramaBtn {
      display: flex;
      border: none;
      background: none;
      margin-top: -23px;
      margin-left: 175px; }
  .header .baslik {
    position: relative;
    bottom: 140px;
    z-index: 1;
    color: white;
    text-align: center;
    pointer-events: none; }
  .header .owl-zero {
    height: 100%;
    /*.item-header {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }*/ }
    .header .owl-zero .owl-nav .owl-prev img {
      position: absolute;
      left: 100px;
      bottom: 90px; }
    .header .owl-zero .owl-nav .owl-next img {
      position: absolute;
      right: 100px;
      bottom: 90px; }
    .header .owl-zero .owl-dots {
      position: absolute;
      right: 100px;
      bottom: 44px; }
      .header .owl-zero .owl-dots .owl-dot span {
        background: initial;
        border: white 2px solid; }
      .header .owl-zero .owl-dots .active span {
        background: white; }

.haberler-container {
  margin-top: 49px; }
  .haberler-container .haber-manset-resim {
    width: 100%;
    height: 100%; }
  .haberler-container .haber-manset-detay {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    padding-right: 65px;
    padding-top: 38px;
    padding-bottom: 38px;
    border: #e0e0e0 1px solid; }
    .haberler-container .haber-manset-detay-container .haber-manset-detay-baslik {
      font-size: 30px;
      color: #393939;
      font-weight: bold;
      line-height: 1.2; }
    .haberler-container .haber-manset-detay-container .haber-manset-detay-detay {
      font-size: 16px;
      color: #393939;
      font-weight: bold;
      line-height: 1.5;
      height: 60px; }
    .haberler-container .haber-manset-detay-container .haber-manset-detay-tarih {
      margin-top: 66px;
      font-size: 14px;
      font-family: "OpenSans";
      color: #a7a7a2;
      line-height: 1.714; }
    .haberler-container .haber-manset-detay-container .devamicintiklayin img {
      margin-top: 45px; }
  .haberler-container .haberler {
    margin-top: 28px; }
    .haberler-container .haberler .haber-preview-wrapper {
      display: inline-block;
      background: url("../img/haber/hover.png"); }
      .haberler-container .haberler .haber-preview-wrapper .haber-preview-resim {
        width: 100%;
        height: 100%; }
        .haberler-container .haberler .haber-preview-wrapper .haber-preview-resim:hover {
          opacity: 0;
          cursor: pointer; }

.projeler {
  background: url("../img/orta-bg.png");
  width: 100%;
  height: 625px; }
  .projeler-card, .projeler .baskan-card {
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 438px;
    margin-top: 110px;
    padding: 30px 30px 40px 20px; }
  .projeler-baslik, .projeler .baskan-card-baslik {
    font-size: 29px;
    color: #3a66af;
    font-weight: bold;
    line-height: 1.236;
    text-align: left;
    z-index: 171; }
  .projeler .owl-one {
    height: 197px;
    max-width: 500px; }
    .projeler .owl-one .owl-nav .owl-prev img {
      position: absolute;
      left: 0px;
      top: 38%; }
    .projeler .owl-one .owl-nav .owl-next img {
      position: absolute;
      right: 0px;
      top: 38%; }
  .projeler .proje-detay-baslik {
    margin-top: 20px;
    font-size: 20.295px;
    color: #585b6a;
    font-weight: bold;
    line-height: 1.774;
    text-align: left; }
  .projeler .proje-detay-detay {
    font-size: 12px;
    color: #9195a4;
    width: 399.639px; }
  .projeler .proje-detay .projelericintiklayiniz img {
    margin-bottom: 8px; }
  .projeler .baskan-card {
    background: url("../img/projeler/card2bg.png");
    background-repeat: no-repeat; }
    .projeler .baskan-card-detay {
      margin-top: -15px;
      font-weight: 600;
      font-size: 16.644px;
      color: #3a66af; }
    .projeler .baskan-card-container-list {
      list-style-image: url("../img/projeler/bulletbg.png");
      padding-left: 13px; }
      .projeler .baskan-card-container-list li {
        margin-top: 15px; }
      .projeler .baskan-card-container-list a {
        font-size: 16px;
        color: #3a66af !important;
        font-weight: bold;
        line-height: 1.5; }
      .projeler .baskan-card-container-list:nth-child(1) {
        margin-top: 61px; }
    .projeler .baskan-card .detaylaricintikla img {
      margin-top: 135px; }

.online-dergiler-container {
  margin-top: 76px; }
  .online-dergiler-container-baslik, .online-dergiler-container-baslik-bold {
    font-size: 28.413px;
    color: #3a66af;
    font-weight: 500;
    line-height: 1.267;
    text-align: left; }
  .online-dergiler-container-baslik-bold {
    font-weight: 800; }
  .online-dergiler-container .row {
    margin-top: 45px;
    margin-bottom: 95px; }
    .online-dergiler-container .row .img-dergi {
      width: 208px !important;
      height: 290px !important;
      margin: 0 auto; }
    .online-dergiler-container .row .owl-two .owl-nav .owl-next {
      position: absolute;
      top: -26%;
      left: 97%;
      height: 35px;
      width: 35px; }
    .online-dergiler-container .row .owl-two .owl-nav .owl-prev {
      position: absolute;
      top: -26%;
      left: 93%;
      height: 35px;
      width: 35px; }
    .online-dergiler-container .row .owl-two .item-dergi {
      background-color: #a7c8dc !important; }
      .online-dergiler-container .row .owl-two .item-dergi-wrapper:hover {
        cursor: pointer;
        background: url("../img/dergiler/ho.png"); }
      .online-dergiler-container .row .owl-two .item-dergi-wrapper:hover img {
        opacity: 0;
        cursor: pointer; }
