@import 'karamursel.scss';

.dergi-oku-sayfasi {
  @extend .karamursel;

  .dergi-container {
    //margin: 0 auto; 
    padding-top: 46px; 
    padding-bottom: 120px;
    text-align: center;
    
  }
  #pdf_canvas {
    box-shadow: 6px 8px 0px 5px rgba(192,205,211,1);
    width: 520px;
    height: 735px;

    @media (max-width: $xs){
      width: 100%;
    }

    @media (max-width: $phone) {
      height: 100%;
    }

  }

  .yonoklari {
    //margin: auto 0px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    @media (max-width: $phone){
      #prev_page {
        position: absolute;
        top: 560px;
        z-index: 99;
        left: 35%;
      }
      #next_page {
        position: absolute;
        z-index: 99;
        left: 55%;
        bottom: 57px;
      }
    }
  }

}
