@import 'karamursel.scss';

.dergi-oku-sayfasi {
  @extend .karamursel;

  .dergi-container {
    //margin: 0 auto; 
    padding-top: 45px; 
    padding-bottom: 0px;
    text-align: center;
    margin: 0 auto;
  }
  #pdf_canvas {
    box-shadow: 6px 8px 0px 5px rgba(192,205,211,1);
    width: 100%;
    

    @media (max-width: $xs){
      width: 100%;
    }

    @media (max-width: $phone) {
      height: 100%;
    }
  }

  .yonoklari {
    //margin: auto 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    
    #web-prev-page {
      margin-right: 15px;
    }
    
    #next_page {
      margin-left: 15px;
    }

  }

}
