@import 'karamursel.scss';
.dunden-bugune-sayfasi {
  @extend .karamursel;

  .dunden-bugune-baslik {
    background-color: #ecf7ff;
    font-size: 16.644px;
    font-family: "Raleway";
    color: rgb(71, 127, 194);
    font-weight: bold;
    line-height: 2.163;
    padding: 5px;    
    padding-left: 20px;     
    margin-top: 30px;
    width: 100%;
  }

  .dunden-bugune-text {
      padding-top: 10px;
      font-size: 14.563px;
      color: rgb(167, 200, 220);
      font-weight: bold;
      text-align: left;
  }

  .dunden-bugune-img{
    height: 235px;
    width: 100%;

    @media (max-width: $xs){
      height: auto;
    }

  }

}