@import 'karamursel.scss';

.duyuru-ve-ilanlar-sayfasi {
  @extend .karamursel;

  .duyuru-baslik {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(0, 127, 197);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.444;
    text-align: left;
  }

  .duyuru-detay {
      font-size: 14px;
      font-family: "Raleway";
      color: rgb(188, 188, 188);
      line-height: 1.286;
      text-align: left;
  }

}