$solSagOkUzaklik: 100px;
$solSagOkBottom: 90px;

.owl-zero {
  height: 100%;

  @media (max-width: $xs) {
    img {
      object-fit: cover;
    } 
  }




  .owl-nav {
    .owl-prev img{
      /*position: absolute;
      left: $solSagOkUzaklik;
      bottom: $solSagOkBottom;*/
    }
    .owl-next img {
      /*
      position: absolute;
      right: $solSagOkUzaklik;
      bottom: $solSagOkBottom;
      */
    }
    

  }
  .owl-dots {
    position: absolute;
    right: $solSagOkUzaklik;
    bottom: 44px;

    @media (max-width: $xs) {
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    .owl-dot {
      span {
        background: initial;
        border: white 2px solid;
      }
    }
    .active span{
      background: white;
    }
  }

  .owl-zero-nav-container {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top:77%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .owl-zero-prev {
    margin: 0 !important;
    margin-left: 107px !important;
  }

  .owl-zero-next {
    margin: 0;
    padding: 0;
  }
}

