.header {
  position: relative;
  height: 560px;

  .social-media {
    justify-content: flex-end;
    .online-islemler {
      margin-right: 32px;
    }
    @media (max-width: $lg) {
      display: none;
    }
    .links {
      a:hover {
        display:inline-block;    
        background: #9dd9fe;
      }
      img:hover{
        opacity:0.5;
      }
    }
  }

  @import 'navbar.scss';

  .baslik {
    position: relative;
    bottom: 140px;
    z-index: 1;
    color: white;
    text-align: center;
    pointer-events: none;
    @media (max-width: $xs) {
      bottom: 225px;
    }
  }

  @import 'header-slider.scss';
}