.header {
  position: relative;
  height: 560px;

  .social-media {
    justify-content: flex-end;
    margin-bottom: 48px;
    .online-islemler {
      margin-right: 32px;
    }
    @media (max-width: $lg) {
      display: none;
    }
    .links {
      a:hover {
        display:inline-block;    
        background: #9dd9fe;
      }
      img:hover{
        opacity:0.5;
      }
    }
  }

  @import 'navbar.scss';

  .baslik {
    position: relative;
    bottom: 140px;
    z-index: 1;
    color: white;
    text-align: center;
    pointer-events: none;
    @media (max-width: $xs) {
      bottom: 225px;
    }
  }

  @import 'header-slider.scss';


  .owl-zero-nav-container {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top:77%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .owl-zero-prev {
    margin: 0 !important;
    margin-left: 107px !important;
  }

  .owl-zero-next {
    margin: 0;
    padding: 0;
  }

}