$solSagOkUzaklik: 100px;
$solSagOkBottom: 90px;

.owl-zero {
  height: 100%;
  background-color: black;

  .item-header {
    height: 560px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (max-width: $xs) {
    img {
      object-fit: cover;
    } 
  }
  
  .owl-dots {
    position: absolute;
    right: $solSagOkUzaklik;
    bottom: 44px;

    @media (max-width: $xs) {
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    .owl-dot {
      span {
        background: initial;
        border: white 2px solid;
        margin: 2px;
        padding: 0px;
      }
    }
    .active span{
      background: white;
    }
  }

  .owl-zero-nav-container {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top:77%;
    display: flex;
    justify-content: space-between;
    padding: 0;

    @media (max-width: 990px) {
      justify-content: space-around;
    }

  }

  .owl-zero-prev {
    margin: 0 !important;

    img {
      margin-left: 13px;
    }
    /* margin-left: 80px !important;

    @media (max-width: 1200px) {
      margin-left: -60px !important;
    }
    @media (max-width: 1120px) {
      margin-left: 40px !important;
    }
    @media (max-width: 990px) {
      margin-left: 0px !important;
    } */
  }

  .owl-zero-next {
    margin: 0 !important;
    padding: 0 !important;
  }

  .owl-dots-ozel {
    justify-content: flex-end;
    top: 88%;

    @media(max-width: $lg) {
      margin-top: 30px;
      justify-content: center;
    }

  }

}

