.iletisim-bilgi-row {
  margin-left: -60px;

  @media (max-width: 992px) {
    margin-left: -15px;
  }
  @media (max-width: $phone) {
    margin: 0px;
  }
}


.iletisim-bilgi {
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
  @media (max-width: $phone) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .baslik-alt-cizgi {
      background-color: rgb(68, 121, 153);
      opacity: 0.102;
      height: 2px;
  }

  .telefon-text {
    font-size: 14px;
    font-family: 'Open Sans';
    font-style: bold;
    color: #447999;
    line-height: 1.2;
    text-align: left;
  }

}