.form-content {
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
  @media (max-width: $phone) {
    margin-left: 0px;
    margin-right: 0px;
  }

  input, textarea {
    border: 1px solid #b5cbff;
    font-family: "PT Sans";
    margin-top: 20px;
    font-size: 12.551px;
  }
  .form-control::-webkit-input-placeholder {
      font-size: 12.551px;
      font-family: "PT Sans";
      color: rgb(110, 152, 179);
      font-weight: bold;
      line-height: 1.2;
  }

  .btn-gonder {
    background-color: #ffed00;
    width: 300px;
    margin-top: 13px;
    font-size: 16px;
    font-family: "PT Sans";
    color: rgb(84, 86, 70);
    font-weight: bold;
    line-height: 1.2;
    padding: 10px;
    @media (max-width: $lg) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  

  //input error kısım
  .error-text {
    font-size: 12.551px;
    font-family: "PT Sans";
    color: rgb(251, 33, 33);
    font-weight: bold;
    line-height: 1.2;
  }


  .error{
    border: 1px solid #ff3737; //https://www.templatemonster.com/help/how-to-change-the-placeholder-text-color-of-an-input.html
  }


  input.error::-webkit-input-placeholder {
    @extend .error-text
  }

  textarea.error::-webkit-input-placeholder {
    @extend .error-text
  }

  .invalid-x {
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 8px;
    @extend .error-text
  }
}

.form-gonderildi {
  margin-top: 145px;
  @media (max-width: $lg) {
    margin: 20px;
  }
  @media (max-width: $phone) {
    margin: 0px;
  }
}

.form-gonderildi img {
  height: 368px;
  width: 412px;
  @media (max-width: $phone) {
    width: 100%;
    height: 100%;
  }
}