@import 'karamursel.scss';

.iletisim {
  @extend .karamursel;

  .header {
    margin-bottom: 30px;
  }

  .karamursel-breadcrumb {
    margin-bottom: 15px;
  }

  
  .form-bilgi-container {
    margin-bottom: 40px;

    .baslik {
      font-size: 21.66px;
      font-family: "Raleway";
      color: rgb(68, 121, 153);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
    }

    @import 'iletisim-formu.scss';
    @import 'iletisim-bilgi.scss';
    @import 'iletisim-digerbilgiler.scss';
  }
  .form-border {
    border: 1px solid #b5cbff;
    @media (max-width: $phone) {
      border: none;
    }
  }
}

