@import 'karamursel.scss';
@import 'iletisim-formu.scss';

.iletisim {
  @extend .karamursel;

  .header {
    margin-bottom: 30px;
  }

  .karamursel-breadcrumb {
    margin-bottom: 15px;
  }

  
  .form-bilgi-container {
    height: 655px;
    margin-bottom: 40px;

    .baslik {
      font-size: 21.66px;
      font-family: "Raleway";
      color: rgb(68, 121, 153);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
    }

    @extend .iletisim-formu
  }
}

