.karamursel {
  .header {
    height: 325px;
    position: relative;
    background: url('../img/karamursel/header.png');
    background-size: cover;
    @media (max-width: $phone) {
      background-size: cover;
    }
    margin-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .header-kesfet-text-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 65px;
  }
  .header-kesfet-text {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.083;
    @media (max-width: $xs), (max-width: $lg) {
        display: none;
    }
  }

  .karamursel-breadcrumb {
    font-size: 14px;
    color: rgb(120, 192, 232);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.857;
    text-align: left;
    margin-bottom: 53px;
  }

  .menu-container {
    border: 1px solid #a9cbef;
    border-radius: 10px;
    background: #fafdff;

    ul {
      list-style-image: url('../img/list-icon.png');
      margin-top: 10px;
      margin-left: 50px;

      li {
        padding-top: 5px;
        a {
          color: rgb(120, 192, 232);
          font-weight: 700;
          font-size: 14px;
          line-height: 2.857;
          text-transform: uppercase;
          text-align: left;
          text-decoration: none;
        }
      }
    }
  }

  .basgan-container {
    border-radius: 10px;
    background: #fbf239;
    padding: 5px;

    img {
      margin-top: -15px;
    }

    .basgan-isim {
      font-size: 18px;
      color: rgb(58, 102, 175);
      font-weight: 800;
      text-align: center;
      position: relative;
      margin-top: 10px;
    }

    .basgan-unvan {
      font-size: 11px;
      color: rgb(58, 102, 175);
      font-weight: 600;
      text-align: center;
      margin-top: -5px;
    }

    ul {
      margin-left: 50px;
      li {
        color: rgb(58, 102, 175);
        text-align: start;
        padding-top: 5px;

        a {
          font-size: 14px;
          color: rgb(58, 102, 175);
          font-weight: 600;
          line-height: 1.5;
          position: absolute;
        }
      }
    }
  }

  .dergi-container {
    border-radius: 10px;
    background: #a7c8dc;
    padding: 30px 10px 10px;
    
    .dergi {
      box-shadow: -10px 5px 5px -5px #698a9d;
      margin-bottom: 0;
    }
  }

  .metin-container {
    .metin-foto {
      width: 100%;
      height: 400px;
      @media (max-width: $md) {
        margin-top: 25px;
        object-fit: cover;
      }
    }
    .metin-baslik {
      font-weight: 800;
      font-size: 18px;
      line-height: 1.333;
      letter-spacing: 0.75px;
    }

    .metin-alt-baslik {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.333;
      letter-spacing: 0.75px;
    }

    .metin {
      font-size: 14px;
      color: rgb(143, 144, 145);
      font-weight: 500;
      line-height: 1.714;
    }
  }

  .galeri-container {
    .galeri-baslik {
      font-size: 18px;
      color: rgb(58, 102, 175);
      font-weight: bold;
      line-height: 1.333;
    }
    .galeri-foto-container {
      position: relative;

      &:hover {
        .foto-buyuk {
          opacity: 0.9;
        }
      }

      .galeri-fotolar {
        width: 100%;
        height: 100px;
        display: block;
        
        @media (max-width: $xs) {
          object-fit: contain;  
        }
      }
      .foto-buyuk {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        width: 100%;
        text-align: center;
        align-content: center;
        color: yellow;
        background: #3a66af;
        border: 1px solid #a9cbef;
        font-weight: bold;
        font-size: 8px;
        text-decoration: none;
        padding-top: 20px;
      }
      .foto-buyuk:hover,
      .foto-buyuk:visited,
      .foto-buyuk:link,
      .foto-buyuk:active {
        text-decoration: none;
        color: yellow;
      }
    }
  }
}
