.karamursel {
  .header {
    height: 325px;
    position: relative;
    /* background-size: cover;
    @media (max-width: $phone) {
      background-size: cover;
    } */
    //background url bunları eziyor ondan important
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: initial;
    @media (max-width: 825px) {
      height: 300px;
    }
  
    @media (max-width: 600px) {
      height: 250px;
    }
  
    @media (max-width: $phone) {
      height: 230px;
    } 
    margin-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .header-kesfet-text-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 65px;
    @media (max-width: 576px) {
      bottom: 25px;
      right: 17px;
    }
  }
  .header-kesfet-text {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.083;
    @media (max-width: $lg) {
        font-size: 20px;
    }
    
  }

  .karamursel-breadcrumb {
    font-size: 14px;
    color: rgb(120, 192, 232);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.857;
    text-align: left;
    margin-bottom: 53px;
  }

  /* .menu-container {
    border: 1px solid #a9cbef;
    border-radius: 10px;
    background: #fafdff;

    ul {
      list-style-image: url('../img/list-icon.png');
      margin-top: 10px;
      margin-left: 50px;

      li {
        padding-top: 5px;
        a {
          color: rgb(120, 192, 232);
          font-weight: 700;
          font-size: 14px;
          line-height: 2.857;
          text-transform: uppercase;
          text-align: left;
          text-decoration: none;
        }
      }
    }
  } */

  

  .metin-container {
    
    .metin-baslik {
      font-weight: 800;
      font-size: 18px;
      line-height: 1.333;
      letter-spacing: 0.75px;
    }

    .metin-alt-baslik {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.333;
      letter-spacing: 0.75px;
    }

    .metin {
      font-size: 14px;
      color: rgb(143, 144, 145);
      font-weight: 500;
      line-height: 1.714;
    }
  }
}
