@import 'karamursel.scss';

.meclis-toplantilari-sayfasi {
  @extend .karamursel;

  .baslik {
    background-color: rgb(90, 214, 253);
    color: white;
    padding: 10px;
    padding-left: 25px;
    width: 100%;
    margin-bottom: 0px;
  }

  .meclis-container {
    background-color: #fafafa;
  }

  .meclis-baslik {
    font-size: 16px;
    font-family: "PT Sans";
    color: rgb(0, 127, 197);
    font-weight: bold;
    line-height: 1.313;
    text-align: left;
  }

  .meclis-aciklama {
    font-size: 12px;
    font-family: "PT Sans";
    color: rgb(146, 144, 144);
    line-height: 1.417;
    margin-bottom: 0px;
  }

  .meclis-sag-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .meclis-aciklama-container { 
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
