.navbar-container {
  justify-content:flex-end;
}

.nav {
  padding: 0;
  background-color: #3a66af;
  @media (min-width: $lg) {
    background-color: initial;
  }

  .dropdown-toggle::after {
    display: none;
  }

  #karamurselDuzMobil {
    display: none;
    @media (max-width: 605px) {
      display: initial;
    }

  }
  #karamurselDropdownWeb {
    @media (max-width: 605px) {
      display: none;
    }
  }

  .navbar-nav {
    .show {
      .dropdown-toggle {
        color: #fbf239;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    margin: 0;
  }

  .dropdown {
    
    .show {
      margin-top: -21px;
      margin-left: 10px;
      border-radius: unset;
      width: 570px;

      @media (min-width: 1200px) {
        margin-top: 10px;
      }
      @media (max-width: 1120px) {
        margin-top: 5px;
      }
    }
    ul {
      list-style-image: url('../img/list-icon.png');
      
      .row {
        margin: 0px;
        

        .col-md-6 {
          border: 1px solid rgba(228, 228, 228, 0.561);

          &:first-child {
            border-right: none;
          }
          margin: 0px;
          padding: 0px;
          
        }
      }
     
      
      .li-item {
        border-bottom: 1px solid rgba(228, 228, 228, 0.561);
        li {
          padding: 15px;
          margin-left: 54px;
          a {
            margin-left: 10px;
            font-size: 12px;
            font-family: "Raleway";
            color: rgb(0, 127, 197);
            font-weight: bold;
            line-height: 2.083;
            text-align: left;
          }
        }
        &:hover {
          background-color: #fef5ce;
          li {
            list-style-image: url('../img/list-icon-hover.png');
            a {
              color: #282d65;
            }
          }
        }
      }
      
    }
  }

  #text-title {
    @media (min-width: $lg) {
      display: none;
    }
    margin: 0 auto;
    color: white;
    font-family: "Raleway";
    font-weight: 700;
  }
  
  #hamburger-btn {
    background-color: white;
  }


  @media(min-width: 992px) {
    position: unset !important; //full high olsun diye aşağyıa bak, onu resetliyor.
    
  }

  @media (max-width: 1120px) {
    .navbar-brand {
      display: none;
    }  
  }

  @media (max-width: 991px) {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10px !important;
  }

  .navbar-brand img {
    width: 141px;
    height: 135px;
  }
  
  .nav-item {
    .nav-link {
      margin-right: .15rem!important;
      margin-left: .15rem!important;
      font-size: 13px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.702;
    }
  }

  .aramaAlani {
    width: 190px;
    height: 32px;
    @media (max-width: $lg) {
      display: none;
    }
    
    .aramaKutusu {
      color: white;
      width: 190px;
      height: 32px;
      font-size: 13px;
      background-color: rgba(25, 52, 76, .5);
      border: solid 1px;
      font-weight: 500;
      border-color: #7c8b9b;
      font-family: inherit;
      font-weight: bold;
      padding-left: 20px;
    }

    .aramaBtn {
      display: flex;
      border: none;
      background: none;
      margin-top: -23px;
      margin-left: 160px;
    }
  }

}