@import 'karamursel.scss';

.nobetci-eczaneler-sayfasi {
  @extend .karamursel;

  .gutter {
    padding-left: 5px;
    padding-right: 5px;
    
  }

  .eczane-zaman {
    background-color: rgb(90, 214, 253);
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    @media (max-width: $xs){
      margin-bottom: 0px;
    }
    @media (max-width: $phone){
      height: 50%;
    }
  }

  .eczane-baslik-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .eczane-baslik {
    background-color: #e8f7ff;
    color: rgb(0, 115, 188);
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 0px;
    @media (max-width: $phone){
      height: 50%;
    }
  }

  .eczane-container {
    height: 85px;

    @media (max-width: $md){
      height: 195px;
      padding-left: 0px !important;
    }

    @media (max-width: $phone){
      height: 195px;
      padding-left: 0px !important;
    }

    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: normal; 
    justify-content: center;
    margin-top: 7px;
    padding-left: 32px;
  }

  .eczane-adi {
      font-size: 18px;
      font-family: "Raleway";
      color: rgb(146, 144, 144);
      line-height: 1;
      text-align: left;
      margin-bottom: 0px;
      @media (max-width: $phone){
        font-size: 14px;
      }
  }

  .eczane-adres {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(146, 144, 144);
    text-align: left;
    margin-bottom: 0px;
  }

  .eczane-no {
    font-size: 19px;
    font-family: "Raleway";
    color: rgb(146, 144, 144);
    line-height: 0.947;
    text-align: center;
  }

}
