.online-dergiler-container {
  &-baslik {
    font-size: 28.413px;
    color: rgb(58, 102, 175);
    font-weight: 500;
    line-height: 1.267;
    text-align: left;
    @media (max-width: $xs) {
      margin-left: 20px;
    }
  }
  &-baslik-bold {
    @extend .online-dergiler-container-baslik;
    font-weight: 800;
  }

  .under {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .over {
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: -1;
  }

  .row {
    margin-top: 45px;

    .owl-two {
      .owl-nav {
        text-align: end;
        .owl-next {
          margin-right: 0px;
        }
      }
     

      .item-dergi {
        //background-color: #a7c8dc !important;
        &-wrapper {
          &:hover {
            cursor: pointer;
            background: url("../img/dergiler/ho.png");
            background-position: center;
          }
          &:hover img {
            opacity: 0.3;
            cursor: pointer;
          }
        }
      }
      
    }

  }


}