.online-dergiler-container {
  &-baslik {
    font-size: 28.413px;
    color: rgb(58, 102, 175);
    font-weight: 500;
    line-height: 1.267;
    text-align: left;
    @media (max-width: $xs) {
      //margin-left: 20px;
    }
  }
  &-baslik-bold {
    @extend .online-dergiler-container-baslik;
    font-weight: 800;
  }

  .under {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .over {
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: -1;
  }

  .dergi-dundenbugun-row {
    margin-top: 45px;
  }

  

  .row {
    .dundenbugune-container {
      height: 340px;
      border: #a9cbef 2px solid; 
      margin: 0px; 
      padding-bottom: 16px;

      @media (max-width: 1200px) {
        padding-bottom: 15px;
      }
      @media(max-width: $phone) {
        padding-bottom: 0px;
        height: 290px;
      }

      img {
        width: 100%;
        height: 160px;
        @media (max-width: $phone) {
          width: 100%;
          height: 100px;
        }
      }

      .tumuicintiklayiniz {
        width: initial;
        height: initial;
      }

    }
      
    .owl-dunden-bugune {

      .owl-item-active {
        border: #a9cbef 2px solid;
        padding-bottom: 10px;
        margin: 0;
      }

      .dunden-bugune-text {
          margin: 0;
          margin-top: 35px;
          margin-bottom: 5px;
          margin-left: 5px;
          font-size: 14.563px;
          color: rgb(167, 200, 220);
          font-weight: bold;
          text-align: left;
      }

      .dunden-bugune-baslik {
          margin: 0;
          margin-top: 30px;
          margin-bottom: 5px;
          margin-left: 5px;
          font-size: 20.295px;
          color: rgb(88, 91, 106);
          font-weight: bold;
          text-align: left;
      }

      .tumuicintiklayiniz {
        margin-top: 37px;
        width: initial;
        float: right;
      }


      .owl-nav {
        border: none;
        text-align: end;
        .owl-next {
          margin-right: 0px;
        }
      }
    }
  }


}
.owl-two {
  .owl-nav {
    text-align: end;
    .owl-next {
      margin-right: 0px;
    }
  }

  .item-dergi {
    //background-color: #a7c8dc !important;
    &-wrapper {
      &:hover {
        cursor: pointer;
        background: url("../img/dergiler/ho.png");
        background-position: center;
      }
      &:hover img {
        opacity: 0.3;
        cursor: pointer;
      }
    }
  }
  
}

.video-duyuru-container-border {
  border: #a9cbef 2px solid;
}



.video-baslik-bold {
  @extend .online-dergiler-container-baslik-bold;  
  margin-bottom: 30px;
}
.video-container {
  @extend .video-duyuru-container-border;
  padding: 40px 42px 0px 42px;
  height: 330px;

  iframe {
    width: 100%;
    height: 175px;
  }
  .video-baslik {
    font-size: 14.563px;
    color: rgb(88, 91, 106);
    font-weight: bold;
    line-height: 2.472;
    text-align: left;
  }
}

.duyuru-baslik-bold {
  @extend .video-duyuru-container-bold;
  @media (max-width: $md) {
      margin-top: 20px;
  }
}

.duyuru-baslik-normal {
  @extend .online-dergiler-container-baslik;
  @media (max-width: $md) {
      margin-top: 20px;
  }
}

.duyuru-container {
  @extend .video-duyuru-container-border;
  padding-top: 38px;
  height: 90%;

  @media (max-width: $lg) {
    padding: initial;
    padding: 40px 42px 0px 35px;
  }
  @media (max-width: $xs) {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .duyuru-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;

    @media (max-width: $xs) {
      text-align: center;
    }

    &:hover {
      background-color: #eff6fd;
      width: 100%;
      cursor: pointer;
    }

    .duyuru-resim {
      height:72px;
      width:136px;
    }
    .duyuru-baslik {
      font-size: 12.483px;
      color: rgb(88, 91, 106);
      font-weight: bold;
      line-height: 1.717;
      text-align: left;
      @media (max-width: $xs) {
        text-align: center;
        width: 100%;
      }
    }

    .tarih-row {
      @media (max-width: $xs) {
        justify-content: center;
      }
    }

    .duyuru-tarih {
      font-size: 14.563px;
      color: rgb(167, 167, 168);
      font-weight: bold;
      line-height: 2.472;
      text-align: left;
      @media (max-width: $xs) {
        text-align: center;
      }
    }
  }

  .tumduyuruveilanlar {
    padding-top: 30px; 
    padding-left: 26px;
    padding-bottom: 20px;
    @media (max-width: $xs) {
      padding-top: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
      text-align: center;
    }
  }

}
