.menu-container {
  border: 1px solid #a9cbef;
  border-radius: 10px;
  background: #fafdff;

  .active {
    list-style-image: url('../img/list-icon-hover.png');

    a {
      color: #282d65;
    }
    
  }


  ul {
    list-style-image: url('../img/list-icon.png');
    margin-top: 10px;
    margin-left: 50px;

    li {
      padding-top: 5px;
      a {
        color: rgb(120, 192, 232);
        font-weight: 700;
        font-size: 14px;
        line-height: 2.857;
        text-transform: uppercase;
        text-align: left;
        text-decoration: none;
      }
    }
  }
}


.social-media-alignment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media (max-width: $xs) {
    justify-content: center;
  }
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4275eb;
  height: 39px;
  width: 50px;
  &:hover {
    background-color: #9dd9fe
  }
  img {
    width: 19px;
    height: 20px;
  }
}

.metin-foto {
  width: 100%;
  height: 400px;
  @media (max-width: $md) {
    margin-top: 25px;
    object-fit: cover;
  }
}

.galeri-container {
  .galeri-baslik {
    font-size: 18px;
    color: rgb(58, 102, 175);
    font-weight: bold;
    line-height: 1.333;
  }
  .galeri-foto-container {
    position: relative;

    &:hover {
      .foto-buyuk {
        opacity: 0.9;
      }
    }

    .galeri-fotolar {
      width: 100%;
      height: 100px;
      display: block;
      
      @media (max-width: $xs) {
        object-fit: cover;  
      }
    }
    .foto-buyuk {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      width: 100%;
      text-align: center;
      align-content: center;
      color: yellow;
      background: #3a66af;
      border: 1px solid #a9cbef;
      font-weight: bold;
      font-size: 8px;
      text-decoration: none;
      padding-top: 20px;
    }
    .foto-buyuk:hover,
    .foto-buyuk:visited,
    .foto-buyuk:link,
    .foto-buyuk:active {
      text-decoration: none;
      color: yellow;
    }
  }
}

