@import 'karamursel.scss';
.projeler-detay-sayfasi{
  @extend .karamursel;

  
  /*
  .proje-detay-baslik {
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(0, 127, 197);
    font-weight: bold;
    @media (max-width: $xs) {
      margin-top: 10px;
    }
  }

  .proje-detay-aciklama {
    font-size: 14px;
    font-family: "PT Sans";
    color: rgb(188, 188, 188);
    line-height: 1.571;
  }
  */


  

}