*{
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}
html {
  scroll-behavior: smooth;
  
}

a {
  text-decoration: none;
  color:inherit;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.cizgi {
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%;
}
@import 'variables.scss';

@import 'partials-global.scss';

@import 'header.scss';
@import 'haberler.scss';
@import 'projeler.scss';
@import 'online-dergiler.scss';
// @import 'video-duyuru.scss';
@import 'hizmetler.scss';
@import 'footer.scss';
@import 'karamursel.scss';
@import 'swiper-container.scss';
@import 'iletisim.scss';
@import 'index-karamurselikesfet.scss';
@import 'baskanimiz.scss'; 
@import 'kurumsal.scss'; 
@import 'bilgi-hizmetleri.scss'; 
@import 'bilgi-hizmetleri-detay.scss'; 
@import 'projeler-sayfasi.scss'; 
@import 'proje-detaysayfa.scss';
@import 'haber-detay.scss';
@import 'yatirimlar.scss';
@import 'online-dergiler-sayfa.scss';
@import 'duyuru-ve-ilanlar-sayfasi.scss';
@import 'dunden-bugune-sayfasi.scss';
@import 'karamurseli-kesfet-sayfasi.scss';
@import 'dergioku.scss';
@import 'nobetci-eczaneler.scss';