.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: '' !important;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: '' !important;
}


.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;

  .swiper-wrapper .swiper-slide {
    position: relative;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-size: contain;
    overflow: hidden;
  }

  .navigate-container {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top:77%;
    display: flex;
    justify-content: space-between;
    padding: 0;

    @media (max-width: 990px) {
      justify-content: space-around;
    }

    .swiper-button-prev-uniq {
      z-index: 1;
      width: 34px;
      height: 24px;
      background: url("/img/solOk.png");
      background-repeat: no-repeat;
      margin-left: 35px;
      @media (max-width: 992px) {
        margin: initial;
      }
    }
    .swiper-button-next-uniq {
      z-index: 1;
      width: 34px;
      height: 24px;
      background: url("/img/sagOk.png");
      background-repeat: no-repeat;
    }
  }

  .dots {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 50px !important;

    span {
      background: initial;
      border: white 2px solid;
      margin: 2px;
      padding: 0px;
      height: 10px !important;
      width: 10px !important;
    }

    .swiper-pagination-bullet-active {
      background-color: white;
    }

  }

  

}


#slider-baslik-container {
  text-align:center;
  position: relative;
  bottom: 115px;
  pointer-events: none;
  z-index: 1;
  color: white;
  text-align: center;

  @media (max-width: 576px) {
    bottom: 100px;
  }


  #slider-title {
    font-weight: 600;
    font-size: 30px;
    @media (max-width: 576px) {
      font-size: initial;
      margin-bottom: initial;
    }
  }

  #sekilliyazi {
    font-size:30px; 
    font-family: 'Marck Script', cursive;
    @media (max-width: 576px) {
      font-size: 30px;
    }
  }
}

