@import 'karamursel.scss';

.vapur-saatleri-sayfasi {
  @extend .karamursel;

  .vapur-preview-wrapper {
    display: inline-block;
    background: url('../img/vapursaatleri/resimhover.png');
    background-position: center;      

    @media (max-width: $xs)
     {
      background: initial;
      display: block;
      margin: 7px auto;
      width: 100%;
    }
    
    .vapur-preview-resim {
      width: 100%;
      height: 100%;
      @media (max-width: $phone) {
        
      }
      &:hover {
        opacity: 0.2;
        cursor: pointer;
        @media (max-width: $xs) {
          opacity: 1;
        }
      }
    }
  }

}
